{% extends "dashboard_base.html" %}

{% block nav_links %}
<li><a href="{{ url_for('onoff.index') }}">On and Off</a></li>
<li><a href="{{ url_for('long.index') }}">Intercept</a></li>
{% endblock %}


{% block dashboard %}
<h3 class="page-header">Intercept Dashboard</h3>

<ul class="nav nav-pills nav-justified">
  <li role="presentation">
    <a class="pull-left" href="{{ url_for('long.viewer') }}">Data Viewer</a>
  </li>
</ul>

<ul class="nav nav-pills nav-justified">
  <li role="presentation">
    <a class="pull-left" href="{{ url_for('long.callback') }}">Callbacks</a>
  </li>
</ul>

{% endblock %}





